@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: auto;
    background: linear-gradient(-45deg, #9E1F16, #EB4438, #2184EB, #24609E);
}

h1 {
    margin-top: 20px;
}

span {
    font-weight: bold;
    margin-top: 20px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    min-height: 480px;
    margin-top: 20px;
    padding-bottom: 27px;
}

#cat-img {
    border-radius: 20px;
}

#form-cats {
    margin-top: 20px;
}

#form-cats input {
    width: 100px;
    height: 60px;
    font-size: 2rem;
    color: #FFF;
    background-color: #EB4438;
    border: 0;
    border-radius: 20px;
    border: 2px solid #9E1F16;
}

#form-cats input:hover {
    color: #EB4438;
    background-color: #FFF;
}
