* {
    margin: 0;
    padding: 0;
}

.presentation {
    background: rgba(100, 100, 50, .3);
}

body {
    margin-top: 22px;
    font-size: 22px;
    text-align: left;
}

h1, div, button {
    margin-left: 10px;
    margin-top: 27px;
}

button {
    padding: 0 27px;
    font-size: 1.3rem;
}
